; begin auth token 
//pkgs.dev.azure.com/yettel/digital/_packaging/yettel-nuget/npm/registry/:username=yettel 
//pkgs.dev.azure.com/yettel/digital/_packaging/yettel-nuget/npm/registry/:_password=[cGZ1cTR1NWV5N2didHNhb3RzbTRkcXBsanQ3ZG1xcXdzanNpN3pma3BrajZudml5bmd0cQ==] 
//pkgs.dev.azure.com/yettel/digital/_packaging/yettel-nuget/npm/registry/:email=e-Zoltan.Kovac@embedit.com
//pkgs.dev.azure.com/yettel/digital/_packaging/yettel-nuget/npm/:username=yettel 
//pkgs.dev.azure.com/yettel/digital/_packaging/yettel-nuget/npm/:_password=[cGZ1cTR1NWV5N2didHNhb3RzbTRkcXBsanQ3ZG1xcXdzanNpN3pma3BrajZudml5bmd0cQ==] 
//pkgs.dev.azure.com/yettel/digital/_packaging/yettel-nuget/npm/:email=e-Zoltan.Kovac@embedit.com
; end auth token